@import "../style/mediaQueryConstants.scss";

.deleteCar {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      padding-right: 20px;
      @media (max-width: $md3) {
        font-size: 28px;
        padding: 0 20px 0 0;
      }
    }
  }
  &__listCar {
    margin-top: 25px;
  }
  &__car {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    img {
      width: 100px;
    }
  }
  &__titleCar {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
    padding: 0 20px;
    @media (max-width: $md3) {
      padding: 0 20px 0 0;
      font-size: 25px;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    img {
      @media (max-width: $md3) {
        display: none;
      }
    }
  }
}
