.inputText {
  position: relative;
  margin-top: 40px;
  &.invalid input {
    border: 2px solid red;
  }
  &__input {
    width: 100%;
    border: 2px solid grey;
    outline: none;
    padding: 10px;
  }
  &__description {
    position: absolute;
    left: 0;
    top: -24px;
  }
}
